.contact-info-top {
  background-color: black;
  color: white;
}
.contact-info {
  color: black;
}
.contact-icon {
  border: 1px solid black;
  color: black;
  font-size: 50px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  margin-right: 30px;
}
